@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: 100% 100%;
    background: url("https://source.unsplash.com/1920x1080/?nature") center no-repeat;
    color: white;
}
div{
    text-align: center;
}
button{
   padding: 12px;
   width: 190;
   cursor: pointer;
   background: #799be6;
   color: white;
   transition: .5s ease;
   border-radius: 10px;
   
}
button:hover{
background: transparent;
border: 2px solid #799be6;
box-shadow: 0 0 10px 0 #799be6 inset,
            0 0 10px 4px #799be6;
border-radius: 10px;

}

h1, h3{
    animation: down 1.25s;

}
@keyframes down{
    from{
        transform: translateY(-50px);
    }

    to{
        transform: translateY(0);
    }
}