@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: black;
    margin: 0;
}

div {
    text-align: center;
}

button {
    padding: 12px;
    width: 190px;
    cursor: pointer;
    background: #799be6;
    color: black;
    font-size: large;
    transition: 0.5s ease;
    border-radius: 10px;
    border: none;
}

button:hover {
    background: transparent;
    border: 2px solid #799be6;
    box-shadow: 0 0 10px 0 #799be6 inset, 0 0 10px 4px #799be6;
}

h1, h3 {
    animation: down 1.25s;
}

@keyframes down {
    from {
        transform: translateY(-50px);
    }
    to {
        transform: translateY(0);
    }
}